/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require jquery-ui.css
*= require bootstrap.css
*= require toastr.min
*= require main
*= require_self
*/

.ui-autocomplete-loading {
    background: white url("../images/spinner.gif") right center no-repeat;
}

.ui-widget-content {
    z-index: 99999 !important;
}

.row.actions {
    margin-bottom: 25px;
}

select.rule-type {
    height: 45px;
}