/*
*= require_self
*/

header {
    background-color: #e1e1e8;
}

h3 {
    margin-bottom: 50px;
}

.toast-top-center {
    margin-top: 65px;
}

.navbar-brand {
    padding: 0;
}

.navbar-header {
    height: 61px;
    width: 255px;
    background: transparent url("../images/logo.png") no-repeat 0 0;
}